body{
    background-color: #eee;
}




.btn-link {
    text-decoration:none !important;
} 

textarea{
    min-height: 150px;
}

.nav-menu a{
    font-size: 14px !important;
}

h1, h2, h3, h4{font-family: 'Lato';}

p{
    font-size: 18px;
    text-align: justify;
}

.titulo1{
    font-size: 90px !important;
    margin-left: -5px;
}

.single-service{
    background-color: darkslategrey;
}

.patrocinador{
    background-image: url('../img/patrocinador1.png');
    min-height: 240px;
    background-color: #fff;
    margin-bottom: 30px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;

}

.patrocinador:hover{
    transition-duration: 0.5s;
    box-shadow: -14.142px 14.142px 20px 0px rgba(157,157,157,0.5);
    cursor: pointer;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.patrocinador1{
    background-image: url('../img/patrocinador1.png');
    background-color: #D90013;

}

.patrocinador2{
    background-image: url('../img/patrocinador2.jpg');
}

.patrocinador3{
    background-image: url('../img/patrocinador3.jpg');
}

.patrocinador4{
    background-image: url('../img/patrocinador4.jpg');
}


.patrocinador5{
    background-image: url('../img/patrocinador5.jpg');
    background-size: cover;
}

.testimonial-area1 {
    background: url('../img/testimonial-bg1.jpg') no-repeat center center !important;
}

.testimonial-area2 {
    background: url('../img/testimonial-bg2.jpg') no-repeat center center  !important;
}

.banner-area{
    background-position: -50px 50px !important;
}


@media (max-width: 420px) {
    body{
        background-image: url('../img/mobile-bg.jpg');
        background-repeat: no-repeat;
        background-size: 100% !important;
        background-position: center 30px;
    }
    .banner-area{ background: none;
    padding-top: 240px;
        }
   
}