<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>FEPARCIT</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/estilo.css">
</head>

<body>

	<header id="header" id="home">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<!-- <a href="index.html"><img src="img/logo.png" alt="" title="" /></a> -->
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="#home">Início</a></li>
						<li><a href="#feature">Sobre a feira</a></li>
						<li><a href="#weoffer">Inscrições</a></li>
						<li><a href="#about">Regulamento</a></li>
						<li><a href="#sponsors">Realização</a></li>
						<li><a href="#contact">Contato</a></li>
						<!--  <li class="menu-has-children"><a href="">Pages</a>
				            <ul>
				              <li><a href="generic.html">Generic</a></li>
				              <li><a href="elements.html">Elements</a></li>
				            </ul>
				          </li> -->
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header><!-- #header -->

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-end">
				<div class="banner-content col-lg-7 col-md-12">
					<h4 class="text-uppercase"></h4>
					<h1 class="titulo1">
						
					</h1>
					<form method="POST" action="{{ route('login') }}">
                        @csrf

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">{{ __('E-Mail Address') }}</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control{{ $errors->has('email') ? ' is-invalid' : '' }}" name="email" value="{{ old('email') }}" required autofocus>

                                @if ($errors->has('email'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('email') }}</strong>
                                    </span>
                                @endif
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">{{ __('Password') }}</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control{{ $errors->has('password') ? ' is-invalid' : '' }}" name="password" required>

                                @if ($errors->has('password'))
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $errors->first('password') }}</strong>
                                    </span>
                                @endif
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 offset-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="remember" id="remember" {{ old('remember') ? 'checked' : '' }}>

                                    <label class="form-check-label" for="remember">
                                        {{ __('Remember Me') }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    {{ __('Login') }}
                                </button>

                                @if (Route::has('password.request'))
                                    <a class="btn btn-link" href="{{ route('password.request') }}">
                                        {{ __('Forgot Your Password?') }}
                                    </a>
                                @endif
                            </div>
                        </div>
                    </form>
					<p>
						
					</p>
					<br>
					<br>
					<br>
					<br>
					<a href="#" class="primary-btn header-btn text-uppercase">Regulamento</a>
					<a href="#" class="primary-btn header-btn text-uppercase">Inscrição</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start feature Area -->
	<section class="feature-area section-gap" id="feature">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mb-30">
						<h1 class="m-5">Sobre a feira</h1>
				</div>
			</div>
			<div class="row">
				<div class="single-feature col-lg-8">
					
					<p class="m-5">A Feira Paranaense de Ciência e Tecnologia - FEPARCIT constitui-se na exposição de Trabalhos de
						Iniciação Científica, realizados por alunos e professores de Nível Médio e Técnico de Instituições Públicas ou
						Privadas do Estado do Paraná.</p>
					<p class="m-5">A FEPARCIT será realizada juntamente com a II TECHNOVAÇÃO através de uma parceria firmada entre a
						APPAF - Associação de Pais, Professores, Alunos e Funcionários do Centro Estadual Educação Profissional Pedro
						Boaretto Neto e a FUNDETEC - Fundação para o Desenvolvimento Científico e Tecnológico, ambas Instituições de
						Cascavel / Paraná.</p>
					<p class="m-5">O objetivo  da feira é estimular a criatividade e resolução de problemas por meio da pesquisa científica, 
							fomentando soluções inovadoras de maneira a promover o surgimento de futuros pesquisadores e empreendedores.
					</p>
				</div>

				<div class="single-feature col-lg-4">
					<img src="img/sobre.png" alt="" width="100%">
				</div>
			</div>
		</div>
	</section>
	<!-- End feature Area -->

	<!-- Start testimonial Area -->
	<section class="testimonial-area testimonial-area1 relative section-gap">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex justify-content-center">
				<!-- 	<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Why Choose Us Your Fitness Builder</h1>
								<p class="text-white">Who are in extremely love with eco friendly system.</p>
							</div>
						</div> -->
			</div>
			<div class="row">
				<!-- <div class="active-testimonial">
							<div class="single-testimonial item d-flex flex-row">
								<div class="thumb">
									<img class="img-fluid" src="img/user1.png" alt="">
								</div>
								<div class="desc">
									<p>
										Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
									</p>
									<h4 mt-30>Mark Alviro Wiens</h4>
									<p>CEO at Google</p>
								</div>
							</div>
							<div class="single-testimonial item d-flex flex-row">
								<div class="thumb">
									<img class="img-fluid" src="img/user2.png" alt="">
								</div>
								<div class="desc">
									<p>
										Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
									</p>
									<h4 mt-30>Mark Alviro Wiens</h4>
									<p>CEO at Google</p>
								</div>
							</div>								
						</div>	 -->
			</div>

			<div class="row">
				<br>
				<br>
				<br>
			</div>
		</div>
	</section>
	<!-- End testimonial Area -->

	<!-- Start offered Area -->
	<section class="offered-area" id="weoffer">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mb-30">

				</div>
			</div>
			<div class="row">
				<div class="single-feature col-lg-12">
					<h1 class="m-5">Inscrições</h1>
					<p class="m-5">Realize sua inscrição para participar da feira.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4><span class="lnr lnr-user"></span>Avaliadores</h4>
						<img class="img-fluid" src="img/avaliador.png" alt="">
					</div>
					<p class="text-center"><a href="#" class="primary-btn header-btn">Cadastrar</a> </p>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4><span class="lnr lnr-user"></span>Alunos (Projetos)</h4>
						<img class="img-fluid" src="img/aluno.png" alt="">
					</div>
					<p class="text-center"><a href="#" class="primary-btn header-btn">Cadastrar</a> </p>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4><span class="lnr lnr-user"></span>Voluntários</h4>
						<img class="img-fluid" src="img/voluntario.png" alt="">
					</div>
					<p class="text-center"><a href="#" class="primary-btn header-btn">Cadastrar</a> </p>

				</div>
			</div>
			<div class="row">

				<p class="m-5"></p>

			</div>
			<!-- 					<div class="row align-items-center justify-content-start">
						<div class="col-lg-6 offered-left">
							<div class="offer-wrap flex-row d-flex row">
								<div class="col-4">
									<div class="single-offer mb-30">
										<a href="#"></a><img class="img-fluid" src="img/o1.png" alt=""></d>
									</div> 
								</div>
								<div class="col-4">
									<div class="single-offer mb-30">
										<a href="#"></a><img class="img-fluid" src="img/o2.png" alt=""></d>
									</div> 
								</div>
								<div class="col-4">
									<div class="single-offer mb-30">
										<a href="#"></a><img class="img-fluid" src="img/o3.png" alt=""></d>
									</div> 
								</div>
								<div class="col-4">
									<div class="single-offer">
										<a href="#"></a><img class="img-fluid" src="img/o4.png" alt=""></d>
									</div> 
								</div>
								<div class="col-4">
									<div class="single-offer">
										<a href="#"></a><img class="img-fluid" src="img/o5.png" alt=""></d>
									</div> 
								</div>
								<div class="col-4">
									<div class="single-offer">
										<a href="#"></a><img class="img-fluid" src="img/o6.png" alt=""></d>
									</div> 
								</div>								
							</div>																	
						</div> -->
			<!-- <div class="col-lg-5 offered-right">
							<h4>Content Synchronization</h4>
							<p class="pt-20 pb-20">
								Few would argue that, despite the advancements off eminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior.
							</p>
							<a href="#" class="primary-btn header-btn text-uppercase">View Details</a>
						</div> -->
		</div>
		</div>
	</section>
	<!-- End offered Area -->
	<!-- Start testimonial Area -->
	<section class="testimonial-area testimonial-area2 relative section-gap">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row">
					<br>
					<br>
					<br>
				</div>
			</div>
		</section>
		<!-- End testimonial Area -->

	<!-- Start fact Area --
			<section class="facts-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col single-fact">
							<h1 class="counter">2536</h1>
							<p>Projects Completed</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">6784</h1>
							<p>Really Happy Clients</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">1059</h1>
							<p>Total Tasks Completed</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">2239</h1>
							<p>Cups of Coffee Taken</p>
						</div>	
						<div class="col single-fact">
							<h1 class="counter">435</h1>
							<p>In House Professionals</p>
						</div>												
					</div>
				</div>	
			</section>-->
	<!-- end fact Area -->



	<!-- Start info Area -->
	<section class="info-area" id="about">
			<div class="container">
					<div class="row">
						<div class="col-lg-12 mb-30">
		
						</div>
					</div>
					<div class="row">
						<div class="single-feature col-lg-8">
							<h1 class="m-5">Regulamento</h1>
		
							<p class="m-5"><a href="#">Regulamento da FEPARCIT 2019 - Download</a></p>
							
						</div>
		
						<div class="single-feature col-lg-4">
							<img src="img/regulamento.jpg" alt="" width="100%"><br>
						</div>
					</div>
					<div class="row">
						<h1 class="m-5">Cronograma</h1>
						<table class="table table-striped">
							<tr>
								<th>Atividade</th>
								<th>Período</th>
							</tr>
							<tr>
								<td>Inscrição on-line</td>
								<td>01/02/2019 – 25/02/2019</td>
							</tr>
							<tr>
								<td>Publicação dos projetos selecionados como finalistas</td>
								<td>18/03/2019</td>
							</tr>								
							<tr>
								<td>Período para a chamada de suplentes em caso de desistência ou desclassificação </td>
								<td>25/03/2019 – 29/03/2019</td>
							</tr>								
							<tr>
								<td>Publicação final dos projetos que participarão da FEPARCIT/2019</td>
								<td>02/04/2019</td>
							</tr>								
							<tr>
								<td>Credenciamento dos expositores, montagem e conferência dos estandes</td>
								<td>02/05/2019 das 09:00 às 11:30</td>
							</tr>								
							<tr>
								<td>Abertura oficial da feira e início da exposição</td>
								<td>02/05/2019 das 14:00 às 20:30</td>
							</tr>
							<tr>
								<td>Exposição de trabalhos</td>
								<td>03/05/2019 das 9:00 às 12:00 / 14:00 às 20:30</td>
							</tr>
							<tr>
								<td>Cerimônia de encerramento e premiação da FEPARCIT/2019</td>
								<td>04/05/2019 das 09:00 às 11:30</td>
							</tr>
						</table>
	
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
					</div>
				</div>
	</section>
	<!-- End info Area -->


	<!-- Start service Area -->

	<section class="service-area section-gap relative" id="sponsors">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-8 pb-40 header-text">
					<h1 class="text-center">Realização</h1>
					<p class="text-center">
						Agradecimento especial aos nossos patrocinadores.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-service2 patrocinador patrocinador1">

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="patrocinador patrocinador2">

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service2 patrocinador patrocinador1">

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="patrocinador patrocinador2">

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service2 patrocinador patrocinador1">

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="patrocinador patrocinador2">

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service2 patrocinador patrocinador1">

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="patrocinador patrocinador2">

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service2 patrocinador patrocinador1">

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End service Area -->


	<!-- start contact Area -->
	<section class="contact-area section-gap" id="contact">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-30 col-lg-8">
					<div class="title text-center">
						<h1 class="text-center">Dúvidas? Por favor pergunte-nos</h1>
						<p class="text-center">Estamos a disposição para esclarecer qualquer dúvida sobre a feira.</p>
					</div>
				</div>
			</div>
			<form class="form-area mt-60" id="myForm" action="mail.php" method="post" class="contact-form text-right">
				<div class="row">
					<div class="col-lg-6 form-group">
						<input name="name" placeholder="Seu nome" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Seu nome'"
						 class="common-input mb-20 form-control" required="" type="text">

						<input name="email" placeholder="Email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''"
						 onblur="this.placeholder = 'Email'" class="common-input mb-20 form-control" required="" type="email">

						<input name="subject" placeholder="Assunto" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Assunto'"
						 class="common-input mb-20 form-control" required="" type="text">
					</div>
					<div class="col-lg-6 form-group">
						<textarea class="common-textarea mt-10 form-control" name="message" placeholder="Menssagem" onfocus="this.placeholder = ''"
						 onblur="this.placeholder = 'Menssagem'" required=""></textarea>
						<button type="submit" class="primary-btn mt-20">Enviar<span class="lnr lnr-arrow-right"></span></button>
						<div class="mt-10 alert-msg">
						</div>
					</div>
				</div>
			</form>

		</div>
	</section>
	<!-- end contact Area -->

	<!-- start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
			<!-- <div class="row">
						<div class="col-lg-3  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">About Us</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
								</p>
							</div>
						</div>
						<div class="col-lg-4  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">Contact Us</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
								</p>
								<p class="number">
									012-6532-568-9746 <br>
									012-6532-569-9748
								</p>
							</div>
						</div>						
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4 class="text-white">Newsletter</h4>
								<p>You can trust us. we only send  offers, not a single spam.</p>
								<div class="d-flex flex-row" id="mc_embed_signup">


									  <form class="navbar-form" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
									    <div class="input-group add-on">
									      	<input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
											<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>
									      <div class="input-group-btn">
									        <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
									      </div>
									    </div>
									      <div class="info mt-20"></div>									    
									  </form>

								</div>
							</div>
						</div>						
					</div> -->
			<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				<p class="footer-text m-0">Desenvolvido por <a href='https://westsoftware.com.br/'>WestSoftware</a> &copy;
					<script>document.write(new Date().getFullYear());</script>
				</p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				<div class="footer-social d-flex align-items-center">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-dribbble"></i></a>
					<a href="#"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>

</html>