.nav-menu a{
    font-size: 14px !important;
}

h1, h2, h3, h4{font-family: 'Lato';}

p{
    font-size: 18px;
    text-align: justify;
}

.titulo1{
    font-size: 90px !important;
    margin-left: -5px;
}

.single-service{
    background-color: darkslategrey;
}

.patrocinador{
    background-image: url('../img/patrocinador1.png');
    background-size: cover;
    min-height: 240px;
    margin-bottom: 30px;

}

.patrocinador:hover{
    transition-duration: 0.5s;
    box-shadow: -14.142px 14.142px 20px 0px rgba(157,157,157,0.5);
    cursor: pointer;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.patrocinador1{
    background-image: url('../img/patrocinador1.png');
}

.patrocinador2{
    background-image: url('../img/patrocinador2.jpg');
}


.testimonial-area1 {
    background: url('../img/testimonial-bg1.jpg') no-repeat center center !important;
}

.testimonial-area2 {
    background: url('../img/testimonial-bg2.jpg') no-repeat center center  !important;
}

